// @media (max-width: 1399px) {}
@media (max-width: 1199px) {
  .table {
    margin-top: 19%;
  }
}
@media (max-width: 991px) {
  .table {
    margin-top: 3%;
    &-wrapper {
      grid-template-rows: repeat(3, auto);
      background-color: #fff;
      border: none;
      gap: 5px;
    }
    &-row {
      grid-template-columns: repeat(4, 150px);
      grid-template-rows: 50px repeat(2, 300px);
      background-color: #fff;
    }
    &-cell {
      border: 2px solid #c6c8b5;
      border-radius: 7px;
      &:first-child {
        grid-column: 1/3;
        grid-row: 2/3;
      }
      &:nth-child(2) {
        grid-column: 3/5;
        grid-row: 2/3;
      }
      &:nth-child(3) {
        grid-column: 2/4;
        grid-row: 3/4;
      }
    }
  }
  .ttl {
    &-cols {
      display: none;
    }
    &-table {
      &-row {
        writing-mode: unset;
        text-orientation: unset;
        grid-row: 1/2;
        grid-column: 1/5;
        border: 3px solid #c6c8b5;
        border-radius: 7px;
      }
    }
  }
}
// tab
@media (max-width: 767px) {
  
}
//cell
@media (max-width: 575px) {
  .table {
    &-wrapper {
      gap: 1px;
    }
    &-row {
      grid-template-columns: 300px;
      grid-template-rows: 50px repeat(3, 300px);
      background-color: #c6c8b5;
      border: 2px solid #c6c8b5;
      border-radius: 7px;
    }
    &-cell {
      grid-column: auto;
      grid-row: auto;
      &:first-child, &:nth-child(2), &:nth-child(3) {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
  .ttl {
    &-table {
      &-row {
        grid-column: auto;
        border-radius: 0;
      }
    }
  }
  .btlr, .btrr, .bbrr, .bblr {
    border-radius: 0;
  }
  .cell {
    &-bbr{
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 7px;
    }
    &-btr {
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
    }
  }
}