@import './fonts.scss';

*{ 
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
}
h1 {
  margin: 0;
  text-align: center;
  margin-top: 35px;
}
li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}
#updateWordBtn {
  position: fixed;
  right: 3%;
  top: 80%;
  width: 75px;
  height: 75px;
  background-color: #f9fbe7;
  border-color: #c6c8b5;
  border-radius: 100%;
  img {
    max-width: 69%;
    max-height: 69%;
  }
}
.pt {
  padding-top: 37px;
}
.table {
  margin-top: 8px;
  background-color: #fff;
  &-wrapper {
    display: grid;
    grid-template-rows: 50px repeat(3, 300px);
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    background-color: #c6c8b5;
    border: 2px solid #c6c8b5;
    border-radius: 7px;
    gap: 2px;
  }
  &-row {
    display: grid;
    grid-template-columns: repeat(3, 300px) 50px;
    gap: 2px;
  }
  &-cell {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #f9fbe7;
    &_two-words {
      grid-template-columns: auto 115px;
    }
    &_three-words {
      &-q {
        grid-template-columns: 70px auto 115px;
      }
      &-a {
        grid-template-columns: auto 75px 85px;
      }
      &-an {
        grid-template-columns: auto 65px 85px;
      }
    }
    &_four-words {
      grid-template-columns: auto 75px auto 85px;
    }
    &_who-what {
      display: grid;
      grid-template-rows: repeat (6, 1fr);
      align-content: center;
      gap: 27px;
      height: 97%;
      &_wrapper {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
        height: 97%;
      }
      &_first, &_third {
        display: grid;
        height: 100%;
        align-items: center;
      }
      &_first {
        grid-row: 1/3;
        grid-template-rows: repeat(4, 1fr);
      }
      &_third {
        grid-template-rows: repeat(2, 1fr);
      }
    }
    .present {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      gap: 7px;
      height: 97%;
      align-items: center;
      .p-zero {
        padding: 0 0 0 14px;
      }
      &-first {
        grid-row: 1/3;
      }
    }
    div {
      text-align: center;
    }
    li {
      padding: 0 25px;
      text-align-last: left;
    }
  }
}
#presentAFirst {
  grid-row: 1/3;
}
.ttl {
  &-table {
    &-row, &-col {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      background-color: #f9fbe7;
      color: #919284;
    }
    &-row {
      writing-mode: vertical-lr;
      text-orientation: upright;
    }
  }
}
.btlr {
  border-top-left-radius: 7px;
}
.btrr {
  border-top-right-radius: 7px;
}
.bbrr {
  border-bottom-right-radius: 7px;
}
.bblr {
  border-bottom-left-radius: 7px;
}
.accolada {
  &-left {
    border-style: solid;
    border-width: 0 0 0 20px;
    border-image: url(../img/gullbrace-left.svg) 1 21 stretch;
  }
  &-right {
    border-style: solid;
    border-width: 0 20px 0 0;
    border-image: url(../img/gullbrace-right.svg) 1 21 stretch;
  }
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.red {
  color: red;
}
.clickable {
  text-decoration: underline;
  cursor: pointer;
}
.popup {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  min-width: 280px;
  max-width: 90%;
  margin: 0 auto;
  padding: 35px 55px;
  text-align: center;
  background-color: #f9fbe7;
  border: 2px solid #c6c8b5;
  border-radius: 7px;
  &-fill {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, .3);
  }
  button {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #c6c8b5;
      cursor: pointer;
      transform: rotate(45deg) translateY(75%);
      &:last-child{
        transform: rotate(-45deg) translateY(-75%);
      }
    }
  }
}

.active {
  display: block;
}
.about {
  padding-left: 20px;
  font-size: 10px;
}

@import './media';